.hero{
    height: 100vh;
    background: linear-gradient(180deg, #eecdd4, #e1ffea22 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;

}
.hero-left h2{
    color: #090909;
    font-size: 30px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 50px;
    font-weight: 700;
   
}
.hand-hand-icon{
     display: flex;
     align-items: center;
     gap: 10px;
}
.hand-hand-icon img{
    width: 50px;
    height: 50px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 250px;
    height: 70px;
    border-radius: 75px;
    margin-top: 20px;
    background-color: #ff4141;
    color: white;
    font-size: 18px;
    font-weight: 500;

}
.hero-right img{
    height: 90%;
    margin-right: 60px;
}